.event-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.img-event {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
    display: block;
}

.image-wrapper:hover .img-event {
    transform: scale(1.05);
}

.event-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 4px var(--primary-color);
    z-index: 2;
    pointer-events: none;
    transition: padding 0.4s ease-in-out;
}

.event-container:hover .event-content {
    padding: 30px 20px;
}

.event-content h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.event-content h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}